name: Docker Build and Push CI 
on: 
  push: 
    branches: [ main ] 
jobs: 
  build-and-push: 
    runs-on: ubuntu-latest 
    env: 
      # Backslash hata di gayi hai!
      IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/my-cicd-app 
    steps: 
      - name: Code ko nikalna (Checkout) 
        uses: actions/checkout@v4 
      - name: Docker Buildx ko set karna 
        uses: docker/setup-buildx-action@v3 
      - name: Docker Hub mein Login 
        uses: docker/login-action@v3 
        with: 
          # Backslashes hata di gayi hain!
          username: ${{ secrets.DOCKER_USERNAME }} 
          password: ${{ secrets.DOCKER_PASSWORD }} 
      - name: Docker Image banana aur Push karna 
        uses: docker/build-push-action@v5 
        with: 
          push: true 
          # Backslash hata di gayi hai!
          tags: ${{ env.IMAGE_NAME }}:latest 
          context: . 
      - name: Deployment step ka ishara 
        run: echo "Image successfully pushed. Deployment part complete"
